.head {
  font-size: 3rem;
  color: #2c3e50 !important;
}

.close {
  color: #1abc9c !important;
  font-size: 3rem;
}
.close2 {
  color: #fff !important;
  font-size: 2rem;
  background-color: #1abc9c !important;
}